<<<<<<< HEAD
@keyframes move {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-50px, 0);
  }
  50% {
    transform: translate(0);
  }
  75% {
    transform: translate(50px, 0);
  }
  100% {
    transform: translate(0);
  }
}

=======
>>>>>>> 2e5311ff5dd863c7cddf3b0bafbd59c20a642c35
.scene {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 50px auto;
  background-image: -webkit-linear-gradient(top, #011428, #032a54);
}

.image:nth-last-child(1) {
  position: absolute;
  top: 300px;
  left: 0;
  width: 450px;
  height: 150px;
  border-radius: 0 0 150px 150px;
  background: #f1ff5e;
  z-index: 0;
}

.image:nth-last-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 150px;
  border-radius: 150px 150px 0 0;
  background: #f1ff5e;
  z-index: 0;
}

.image:nth-last-child(4) {
  position: absolute;
  top: 47px;
  left: 137px;
  width: 25px;
  height: 25px;
  border-radius: 25px 25px 25px 25px;
  background: #000;
  z-index: 2;
}

.image:nth-last-child(5) {
  position: absolute;
  top: 47px;
  left: 287px;
  width: 25px;
  height: 25px;
  border-radius: 25px 25px 25px 25px;
  background: #000;
  z-index: 2;
}

.image:nth-last-child(6) {
  position: absolute;
  top: 40px;
  left: 130px;
  width: 40px;
  height: 40px;
  border-radius: 40px 40px 40px 40px;
  background: #fff;
  z-index: 1;
}

.image:nth-last-child(7) {
  position: absolute;
  top: 40px;
  left: 280px;
  width: 40px;
  height: 40px;
  border-radius: 40px 40px 40px 40px;
  background: #fff;
  z-index: 1;
}

.image:nth-last-child(8) {
  position: absolute;
  top: 42px;
  left: 150px;
  width: 15px;
  height: 15px;
  border-radius: 15px 15px 15px 15px;
  background: #fff;
  z-index: 3;
}

.image:nth-last-child(9) {
  position: absolute;
  top: 42px;
  left: 300px;
  width: 15px;
  height: 15px;
  border-radius: 15px 15px 15px 15px;
  background: #fff;
  z-index: 3;
}

.image:nth-last-child(10) {
  position: absolute;
  top: 63px;
  left: 135px;
  width: 10px;
  height: 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  z-index: 3;
}

.image:nth-last-child(11) {
  position: absolute;
  top: 63px;
  left: 285px;
  width: 10px;
  height: 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  z-index: 3;
}

.image:nth-last-child(12) {
  position: absolute;
  top: 160px;
  left: 0px;
  width: 450px;
  height: 130px;
  border-radius: 130px 130px 130px 130px;
  background: #ff6052;
  z-index: 1;
}

.image:nth-last-child(13) {
  position: absolute;
  top: 90px;
  left: 130px;
  width: 40px;
  height: 10px;
  border-radius: 10px 10px 10px 10px;
  background: #ffa297;
  z-index: 1;
}

.image:nth-last-child(14) {
  position: absolute;
  top: 90px;
  left: 280px;
  width: 40px;
  height: 10px;
  border-radius: 10px 10px 10px 10px;
  background: #ffa297;
  z-index: 1;
}
<<<<<<< HEAD

.image:nth-last-child(15) {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 10px;
  height: 15px;
  border-radius: 10px 10px 10px 10px;
  background: #d4d03c;
  z-index: 10;
}

.image:nth-last-child(16) {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 10px;
  height: 15px;
  border-radius: 10px 10px 10px 10px;
  background: #d4d03c;
  z-index: 10;
}

.image:nth-last-child(17) {
  position: absolute;
  top: 50px;
  left: 340px;
  width: 10px;
  height: 15px;
  border-radius: 10px 10px 10px 10px;
  background: #d4d03c;
  z-index: 10;
}

.image:nth-last-child(18) {
  position: absolute;
  top: 50px;
  left: 390px;
  width: 10px;
  height: 15px;
  border-radius: 10px 10px 10px 10px;
  background: #d4d03c;
  z-index: 10;
}

.image:nth-last-child(19) {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 10px;
  height: 15px;
  border-radius: 10px 10px 10px 10px;
  background: #d4d03c;
  z-index: 10;
}

.image:nth-last-child(20) {
  position: absolute;
  top: 70px;
  left: 360px;
  width: 10px;
  height: 15px;
  border-radius: 10px 10px 10px 10px;
  background: #d4d03c;
  z-index: 10;
}

.image:hover {
  animation: move 1s ease-in-out;
}
=======
>>>>>>> 2e5311ff5dd863c7cddf3b0bafbd59c20a642c35
